<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.myklinik.myklinikv2">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfilePatientActivity"></activity>
        <activity android:name=".ProfileDoctorActivity" />
        <activity android:name=".MapPatientActivity" />
        <activity android:name=".EditAppointmentActivity" />
        <activity android:name=".ViewAppointmentClinicActivity" />
        <activity android:name=".ViewAppointmentPatientActivity" />
        <activity android:name=".AppointmentClinicActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".HomePatientActivity" />
        <activity android:name=".HomeClinicActivity" />
        <activity android:name=".LoginPatientActivity" />
        <activity android:name=".LoginClinicActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
    </application>

</manifest>